<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-yellow.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="http://localhost:3000/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="http://localhost:3000/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="http://localhost:3000/public/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="http://localhost:3000/public/css/freelancer.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>이마트24 음성검색 시스템 관리페이지</title>
    <style>
        #mainNav .navbar-nav li.nav-item a.nav-link {
                        color: #fff;
                    }
            
                    #mainNav .navbar-nav li.nav-item a.nav-link:hover {
                        color: #FFB718;
                    }
            
                    #mainNav .navbar-nav li.nav-item a.nav-link:active,
                    #mainNav .navbar-nav li.nav-item a.nav-link:focus {
                        color: #fff;
                    }
            
                    #mainNav .navbar-nav li.nav-item a.nav-link.active {
                        color: #fff;
                    }
            
                    #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
                        color: #fff;
                        background: #FFB718;
                    }
            
                    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
                    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
                    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
                        color: #fff;
                        background: #FFB718;
                    }
            
                    .bg-primary {
                        background-color: #E0E3DA !important;
                    }
            
                    .bg-secondary {
                        background-color: #FFFFF3 !important;
                    }
            
                    .bg-third {
                        background-color: #566270 !important;
                    }
            
                    .footer {
                        padding-top: 5rem;
                        padding-bottom: 5rem;
                        background-color: #1a252f;
                        color: #fff;
                    }
                </style>

</head>

<body>
    <script src="http://localhost:3000/public/javascripts/speechkitt.js"></script>
    <script src="http://localhost:3000/public/javascripts/annyang.js"></script>
    <script src="http://localhost:3000/public/javascripts/speechsynthesis.js"></script>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top text-uppercase" id="mainNav" style="background-color: #5C5B61">
        <div class="container">
            <link href="http://localhost:3000/public/css/freelancer.min.css" rel="stylesheet">
            <link href="http://localhost:3000/public/css/freelancer.min.css" rel="stylesheet">
            <a class="navbar-brand js-scroll-trigger" href="/"><img src="http://localhost:3000/public/img/logo.png" alt=""></a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin">관리페이지</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/product/1">상품관리</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/search">검색기록관리</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br><br><br><br><br>
    <center>
        <h2 class="mt-4 mb-3 text-center">상품 등록</h2>
    </center><br>

    <!-- Join Form -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <form action='/admin/product_registration' method='post'>
                <div class="control-group form-group" style="margin-left: 50%">
                    <div class="form">
                        <label class="ml-4 mr-4">이름</label>
                        <input type="text" class="form-control" name="Name" placeholder="Name" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group" style="margin-left: 50%">
                    <div class="form">
                        <label class="ml-4 mr-4">위치</label>
                        <input type="text" class="form-control" name="Location" placeholder="Loaction" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group" style="margin-left: 50%">
                    <div class="form">
                        <label class="ml-4 mr-4">가격</label>
                        <input type="text" class="form-control" name="Price" placeholder="Price" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group" style="margin-left: 50%">
                    <div class="form">
                        <label class="ml-4 mr-4">카테고리</label>
                        <input type="text" class="form-control" name="Category" placeholder="Category" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group" style="margin-left: 50%">
                    <div class="form">
                        <label class="ml-4 mr-4">세부 카테고리</label>
                        <input type="text" class="form-control" name="Detail_Category" placeholder="Detail Category"
                            required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group" style="margin-left: 50%">
                    <div class="form">
                        <label class="ml-4 mr-4">행사 여부</label><br>
                        <select name='INFO_Event'>
                            <option value='0'>없음</option>
                            <option value='1'>있음</option>
                        </select>
                    </div>
                </div>
                <div class="control-group form-group" style="margin-left: 50%">
                    <div class="form">
                        <label class="ml-4 mr-4">제조사</label>
                        <input type="text" class="form-control" name="Company" placeholder="Company" required>
                        <p class="help-block"></p>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <button type="submit" class="btn btn-primary" style="margin-top: 5%; margin-left: 80%" id="sendMessageButton">등록하기</button>
            </form>
        </div>

    </div>
    <!-- /.row -->
    </div>
    </div>
    </div>
    <!-- /.container -->

</body>

</html>